#container{
    min-width: 1000px;
    min-height: 1000px;
    display: flex;
    justify-content: center;

}

#cadre{
    width: 900px;
    height: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;   
}

.carre{
    width: 60px;
    height: 60px;    
}