#container{
    min-width: 1000px;
    max-height: 900px;
    display: flex;
    justify-content: center;

}

#cadre{
    width: 900px;
    height: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start   
}

.carre{
    width: 60px;
    height: 60px;
    background-color: blueviolet;    /* A gerder uniquement pour le test affichage*/
}